<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>login</title>
</head>

<body>
    <div class="card ">
        <h2>Login</h2>
        <div class="login_register">
            <a href="#" class="login" target="blank">Login</a>
            <a href="signup" class="register" target="blank">SignUp</a>
        </div>
        <form class="form" method="post" action="/user/login">
            <input type="number" placeholder="Enter AadharCardNumber" class="email" name="aadharCardNumber">
            <input type="password" placeholder="Enter Password" class="pass" name="password">
      
        <a href="changePassword" class="fp">Forgot Password?</a>
        <button  class=" login_btn" >Enter</button>

        
        <div class="footer_card">
            <p>Don't have an account??</p>
            <a href="/profile/password">Create Now!</a>
        </div>
    </form>
    </div>

</body>

</html>

</html>